@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>AlfaLocker</h1>
            <p class="lead" style="padding-top: 20px">The alfa in the password management world.</p>
        </div>
        <div class="col-xs-6">
            <img src="~/Media/Images/desk.png" width="300" height="300" class="img-responsive pull-right" />
        </div>
    </div>
</div>

<div class="container-fluid" id="home-card-container">
    <div class="row" id="home-card-row">
        <div class="col-md-6">
            <div class="container-fluid" id="home-card-column">
                <img src="~/Media/Images/schedule.png" alt="image" width="150" height="150" class="img-responsive pull-left" style="margin-right: 20px" />
                <h4 class="display-2 text-sm-center" id="vertical-center-text">
                    Access anywhere you want.
                </h4>
            </div>
        </div>

        <div class="col-md-6">
            <div class="container-fluid" id="home-card-column">
                <img src="~/Media/Images/family.png" alt="image" width="150" height="150" class="img-responsive pull-left" style="margin-right: 20px" />
                <h4 class="display-2 text-sm-center" id="vertical-center-text">
                    One account, all family members.
                </h4>
            </div>
        </div>
    </div>

    <div class="row container-fluid" id="home-card-row">
        <div class="col-md-12">
            <div class="container-fluid row" id="home-card-column">
                <div class="col-md-4">
                    <img src="~/Media/Images/desktop.png" alt="image" width="150" height="150" class="img-responsive pull-left" />
                </div>
                <div class="col-md-4">
                    <h4 class="display-2 text-sm-center" id="vertical-center-text">
                        Available on all your devices. Get the iOS app on the App Store,
                        or the Android App on the Google Play Store.
                    </h4>
                </div>
                <div class="col-md-4">
                    <img src="~/Media/Images/tablet.png" alt="image" width="150" height="150" class="img-responsive pull-right" />
                </div>
            </div>
        </div>
    </div>
</div>